body {
	padding-top:60px;
	font-family:Open Sans;
	line-height:1.72857143;
	font-size:14px;
}
.starter-template {
	padding:30px 15px 40px 15px;
	text-align:center;
}
@font-face {
	font-family:'BebasNeueRegular';
	src:url('fonts/BebasNeue-webfont.eot');
	src:url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/BebasNeue-webfont.woff') format('woff'),url('fonts/BebasNeue-webfont.ttf') format('truetype'),url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight:normal;
	font-style:normal;
}
li.page-scroll {
	list-style:none;
}
ul.cb-slideshow {
	list-style:none;
	margin-bottom:0px;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:'BebasNeueRegular';
}
.fullbg { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
::selection 	 {color:#fff; text-shadow:none;}
#ascrail2000 {
	z-index:99990!important;
	background-color:#2c2c2c;
	padding:0 0 0 1px;
}
.margtop0 {
	margin-top:0px;
}
.margtop0 {
	margin-top:30px;
}

.smallsep {
	height:3px;
	background-color:#444;
	max-width:30px;
	margin:0px auto;
	margin-bottom:20px;
	margin-top:15px;
}
.boxservice {
	width:33.33%;
		float:left;
	text-align:center;
	border-left:1px solid rgba(255,255,255,0.3);
	border-top:1px solid rgba(255,255,255,0.3);
	padding:35px 25px;
}
.boxservice i {
	font-size:4em;
	margin:0 0 0.1em 0;
	color:#ffd600;
}
.rightb {
	border-right:1px solid rgba(255,255,255,0.3);
}
.bottomb {
	border-bottom:1px solid rgba(255,255,255,0.3);
}
.boxservice:hover {
	background-color:#f8f8f8;
}
section {
	padding:30px 0 60px 0;
}
a{ outline: none;}
a:active   {outline: none; }
a:focus
{
-moz-outline-style: none;
}
a:focus { outline:none }
.graybg {
	background-color:#fbfbfb;
	border-bottom:1px solid #E3E3E3;
	border-top:1px solid #e3e3e3;
}
.maincolorbg {
	background-color:#ffd600;
}
.highlight {
	color:#ffd600;
}
.max80 {
	max-width:80%;
	margin:auto;
	margin-bottom:10px;
}
.pxauto {
	margin:0px auto;
}
.thumbnail {
	font-size:13px;
	background:#fff;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	padding:0px;
	text-align:center;
	line-height:25px;
	border:0;
	border-top:5px solid #fff;
}
.thumbnail h4 {
		font-size:16px;
	line-height:0.5;
	margin-top:20px;
}
.thumbnail .caption {
	color:#888;
	padding:10px 20px 15px;
	background:#333;
}
.thumbnail .caption span {
	font-style:italic;
}
.thumbnail img {
	-webkit-transition:all 1s ease;
			-moz-transition:all 1s ease;
			-o-transition:all 1s ease;
			-ms-transition:all 1s ease;
			transition:all 1s ease;
}
ul.social-icons li {
	display:inline-block;
	float:none;
	padding:17px;
	width:10px;
	height:10px;
	position:relative;
	background:#555;
	margin-right:5px;
	border-radius:50%;
}
ul.social-icons li i {
	position:absolute;
	font-size:15px;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	left:50%;
	top:50%;
	margin-left:-20px;
	margin-top:-20px;
}
ul.social-icons li a {
	color:#fff;
}
ul.social-icons li a i {
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	transition-duration:0.8s;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	transition-property:transform;
	overflow:hidden;
}
ul.social-icons li a i:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}
ul.social-icons li a:hover {
	text-decoration:none;
	color:#fff;
}
#portfolio .portfolio-item {
	right:0;
	margin:0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
	display:block;
	position:relative;
	margin:0 auto;
	max-width:400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	background-color:#ffd600;
	-webkit-transition:all ease .5s;
	-moz-transition:all ease .5s;
	transition:all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity:1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	position:absolute;
	top:50%;
	width:100%;
	height:20px;
	margin-top:-12px;
	text-align:center;
	font-size:20px;
	color:#fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top:-12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
	margin:0;
}
#portfolio * {
	z-index:2;
}
.portfolio-modal .modal-content {
	padding:100px 0;
	min-height:100%;
	border:0;
	border-radius:0;
	text-align:center;
	background-clip:border-box;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.portfolio-modal .modal-content h2 {
	margin:0;
	font-size:3em;
}
.portfolio-modal .modal-content img {
	margin-bottom:30px;
}
.portfolio-modal .modal-content .item-details {
	margin:30px 0;
}
.portfolio-modal .close-modal {
	position:absolute;
	top:25px;
	right:25px;
	width:75px;
	height:75px;
	background-color:transparent;
	cursor:pointer;
}
.portfolio-modal .close-modal:hover {
	opacity:.3;
}
.portfolio-modal .close-modal .lr {
	z-index:1051;
	width:1px;
	height:75px;
	margin-left:35px;
	background-color:#2c3e50;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
	z-index:1052;
	width:1px;
	height:75px;
	background-color:#2c3e50;
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}
.whitebox {
	background:#333;
	margin:0px;
	padding:20px;
	z-index:1;
	position:relative;
		border-top:5px solid #444;
}
.whitebox.salmonborder {
	background-color:#444;
}
.whitebox.goldborder {
	background-color:#444;
}
.whitebox.blueborder {
	background-color:#444;
}
.whitebox.greenborder {
	background-color:#444;
}
.salmonborder {
	border-top:7px solid salmon;
}
.salmonborder .btn {
	background:salmon;
}
.greenborder {
	border-top:7px solid lightgreen;
}
.greenborder .btn {
	background:lightgreen;
}
.goldborder {
	border-top:7px solid gold;
}
.goldborder .btn {
	background:gold;
}
.blueborder {
	border-top:7px solid skyblue;
}
.blueborder .btn {
	background:skyblue;
}
.wrapshadow {
	-webkit-box-shadow:inset 0px 0px 10px 15px rgba(0,0,0,0.04);
	-moz-box-shadow:inset 0px 0px 10px 15px rgba(0,0,0,0.04);
	box-shadow:inset 0px 0px 10px 15px rgba(0,0,0,0.04);
	background-color:rgba(0,0,0,0.05);
	padding:20px;
	text-align:center;
}
.wrapshadow h3 {
	text-shadow:1px 1px 0px white,2px 2px 0px #CCC;
}
.wrapshadow i {
	text-shadow:2px 4px 3px rgba(0,0,0,0.3) !Important;
}
.pricing .content {
		padding:20px 0 20px 0;
	position:relative;
	text-align:center;
	color:#666;
}
.price {
	color:#444;
	text-shadow:1px 1px 0px white,2px 2px 0px #CCC;
	font-size:40px;
	font-weight:normal;
	text-align:center;
	margin:0;
	height:120px;
	width:120px;
	line-height:120px;
	margin:0px auto;
	background:#fff;
	border-radius:50%;
	margin-bottom:20px;
	font-family:'BebasNeueRegular';
}
.pricing ul {
	margin-top:30px;
}
.pricing ul li {
	border-top:rgba(255,255,255,0.1) 1px solid;
	line-height:40px;
	margin-left:-20px;
	margin-right:-20px;
	padding-left:20px;
	padding-right:20px;
	list-style:none;
	color:rgba(255,255,255,0.8);
}
.pricing ul li:last-child {
	border-bottom:rgba(255,255,255,0.1) 1px solid;
}
ul {
	-moz-padding-start:0px;
	-webkit-padding-start:0px;
	-khtml-padding-start:0px;
	-o-padding-start:0px;
	padding-start:0px;
	padding:0px;
	font-size:13px;
}
.pricing .btn-lg {
	color:#fff;
	margin-top:20px;
	border-radius:0px;
	font-size:18px;
	font-family: 'BebasNeueRegular';
}
/* * jQuery FlexSlider v2.2.0 * http://www.woothemes.com/flexslider/
* * Copyright 2012 WooThemes * Free to use under the GPLv2 license. * http://www.gnu.org/licenses/gpl-2.0.html * * Contributing author:Tyler Smith (@mbmufffin) */
/* Browser Resets */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
	outline:none;
}
.slides,.flex-control-nav,.flex-direction-nav {
	margin:0;
	padding:0;
	list-style:none;
}
/* FlexSlider Necessary Styles */ .flexslider {
	overflow:hidden;
	margin:0;
	padding:0;
}
.flexslider .slides>li {
	display:none;
	/*-webkit-backface-visibility: hidden;*/
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width:100%;
	display:block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
html[xmlns] .slides {
	display:block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script,such as Modernizr,make sure you * include js that eliminates this class on page load */
.no-js .slides>li:first-child {
	display:block;
}
.flexslider .slides>li:first-child {
	display: block;
}
/* FlexSlider Default Theme */
.flexslider {
	position:relative;
	zoom:1;
}
.flex-viewport {
	max-height:2000px;
	/*-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;*/
}
.loading .flex-viewport {
	max-height:300px;
}
.flexslider .slides {
	zoom:1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav {
	height:0;
}
.flex-direction-nav a {
	background:url(../img/flexarrows.png) no-repeat scroll 0 0 rgba(0,0,0,0.4);
	width:45px;
	height:45px;
	position:absolute;
	top:55%;
	text-indent:-999em;
	border-radius:2px 2px 2px 2px;
	z-index:10;
}
.flex-direction-nav a:hover {
}
.flex-direction-nav li .flex-prev {
	right:49px;
	background-position:0 -169px;
}
.flex-direction-nav li .flex-next {
	right:10px;
	background-position:-35px -169px;
}
.flex-direction-nav .flex-disabled {
	opacity:.3;
	filter:alpha(opacity=30);
	cursor: default;
}
/* Fullwidth FlexSlider Necessary Styles */
.fullwidth.flexslider {
	margin-bottom:0px;
	overflow:hidden;
}
.fullwidth.flexslider .flex-direction-nav a {
	background:url(../img/flexarrows.png) no-repeat scroll 0 0 rgba(0,0,0,0.1);
	top:50% !important;
	width:50px;
	height:100px;
	position:absolute;
	text-indent:-999em;
	margin-top:-50px;
}
.fullwidth.flexslider .flex-direction-nav a:hover {
	background-color:rgba(0,0,0,0.4)
}
.fullwidth.flexslider .flex-direction-nav .flex-prev {
	left:0;
	background-position:0;
	border-radius:0 3px 3px 0;
}
.fullwidth.flexslider .flex-direction-nav .flex-next {
	right:5px;
	background-position:-50px 35px;
	border-radius:3px 0 0 3px;
}
.fullwidth.flexslider .flex-direction-nav .flex-disabled {
	opacity:.3;
	filter:alpha(opacity=30);
	cursor:default;
}
.homeslider.fullwidth.flexslider {
	height:465px;
	color:#fff;
	text-shadow:0px 1px 1px rgba(0,0,0,0.3);
	font-size:21px;
	font-weight:300;
}
.fullwidth.flexslider h1,.fullwidth.flexslider h2,.fullwidth.flexslider h3,.fullwidth.flexslider h4,.fullwidth.flexslider h5,.fullwidth.flexslider h6 {
	letter-spacing:2px;
}
.homeslider h1 {
	margin-bottom:20px;
	line-height:45px;
}
.flexslider.blog {
	margin-bottom: 35px;
}
/* Control Nav */
.flex-control-nav {
	width:100%;
	position:absolute;
	bottom:20px;
	text-align:center;
	z-index:999;
}
.flex-control-nav li {
	margin:0 0 0 5px;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.flex-control-nav li:first-child {
	margin:0;
}
.flex-control-nav li a {
	width:15px;
	height:15px;
	display:block;
	cursor:pointer;
	text-indent:-999em;
	background:none repeat scroll 0 0 #fff;
	border:2px solid #fff;
	border-radius:20px 20px 20px 20px;
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	opacity:0.5;
	filter:alpha(opacity=50);
}
.flex-control-nav li a:hover {
	background:#fff;
	border:2px solid #fff;
	opacity:1;
	filter:alpha(opacity=100);
}
.flex-control-nav li a.flex-active {
	background:transparent;
	border:2px solid #fff;
	cursor:default;
	opacity:1;
	filter: alpha(opacity=100);
}
/* Pause/Play */
.flex-pauseplay a {
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	bottom:5px;
	left:10px;
	opacity:0.8;
	z-index:10;
	overflow:hidden;
	cursor:pointer;
}
.flex-pauseplay a:before {
	display:inline-block;
	content:"";
}
.flex-pauseplay a:hover {
	opacity:1;
}
.flex-pauseplay a.flex-play:before {
	content: "";
}
/* Caption style */
/* IE rgba() hack */
.flex-caption {
	zoom:1;
}
.flex-caption {
	width:100%;
	position:absolute;
	margin-top:190px;
}
.flex-caption div {
		margin:0 auto;
}
.flex-caption.transparent.light-font span {
		text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.flex-caption.transparent.dark-font span {
	color:#333;
}
.flex-caption.transparent.light-font h2 span,.flex-caption.transparent.dark-font h2 span {
	line-height:27px !important;
	padding:0;
}
.flex-caption.light {
	color:#333;
	margin-left:10px;
}
.flex-caption.light span {
	background:none repeat scroll 0 0 rgba(222,222,222,0.5);
	box-shadow:10px 0 0 rgba(222,222,222,0.5),-10px 0 0 rgba(222,222,222,0.5);
}
.flex-caption.dark {
	color:#fff;
	margin-left:10px;
}
.flex-caption.dark span {
	background:none repeat scroll 0 0 rgba(0,0,0,0.3);
	box-shadow:10px 0 0 rgba(0,0,0,0.3),-10px 0 0 rgba(0,0,0,0.3);
}
.flex-caption h2 span {
	line-height:56px !important;
	padding:5px 0;
}
.flex-caption.center {
	text-align:center;
}
.flex-caption.light .button,.flex-caption.dark .button {
	margin-left:-10px;
}
.flex-caption .uppercase {
	font-size:25px;
	font-weight:600;
	text-transform:uppercase;
	margin:0;
	letter-spacing:1px;
}
.flex-caption .lowercase {
	font-weight:300;
	font-size:18px;
	line-height:27px;
	margin:25px 0;
}
.flex-caption {
	animation:0.8s cubic-bezier(0.165,0.84,0.44,1) 0s normal none 1 avia-btt;
	opacity:1;
}
.flexslider.blog .flex-caption {
	width:100%;
	position:absolute;
	bottom:0;
	background:rgba(0,0,0,0.5);
	top:63%;
	padding-top:15px;
	color:#ccc;
	font-size:14px;
	line-height:24px;
}
.flexslider.blog .flex-caption a {
	color:#fff;
}
.flexslider.blog .flex-caption div {
	width:75%;
}
.testimonial .flexslider {
	width:800px;
	min-height:368px;
	margin-bottom:80px;
	border:10px solid #ededed;
	box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.2);
}
/* the elliptical shadow below the slider */
.testimonial .flexslider:after {
	content:'';
	display:block;
	width:80%;
	height:20px;
	border-radius:50%;
	position:absolute;
	z-index:-1;
	bottom:-10px;
	left:10%;
	box-shadow:0 2px 10px 10px rgba(0,0,0,0.2);
}
.testimonial .slides li {
	display:block;
	background-position:center;
	background-repeat: no-repeat;
}
/* the text box */
.testimonial .slides li .slide-text {
	position:relative;
	color:#666;
	overflow:hidden;
	text-align:center;
	font-size:22px;
	font-weight:300;
	line-height:35px;
	max-width:75%;
	margin:0px auto;
}
.testimonial .slides li .slide-text p {
	margin-top:0px;
}
.testimonial .slides li .slide-text h2 {
	font-style:normal;
	font-size:36px;
	margin-top:50px;
	color:#444;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom: 25px;
}
/* Control Nav */
.testimonial .flex-control-nav {
	width:100%;
	position:relative;
	text-align:center;
	z-index:999;
	margin-top:40px;
}
.testimonial .flex-control-nav li {
	margin:0 0 0 5px;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.testimonial .flex-control-nav li:first-child {
	margin:0;
}
.testimonial .flex-control-nav li a {
	width:15px;
	height:15px;
	display:block;
	cursor:pointer;
	text-indent:-999em;
	background:#777;
	border-radius:20px 20px 20px 20px;
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	opacity:0.5;
	filter:alpha(opacity=50);
}
.testimonial .flex-control-nav li a:hover {
	background:#777;
	opacity:1;
	filter:alpha(opacity=100);
}
.testimonial .flex-control-nav li a.flex-active {
	background:#666;
	cursor:default;
	opacity:1;
	filter:alpha(opacity=100);
}
.testimonial .slides li .slide-text img {
	width:120px;
	display:block;
	background:#fff;
	padding:5px;
	border-radius:50%;
	margin:0px auto;
	margin-top:20px;
	margin-bottom:10px;
}
.testimonial.fullwidth.flexslider {
	margin-bottom:0;
}
#home-slider {
	height:100%;
}
.home-slide-content {
	font-family:'BebasNeueRegular',sans-serif;
	font-size:90px;
	text-transform:uppercase;
	position:relative;
	margin-bottom:0px;
	text-align:center;
	line-height:1;
}
.home-slide-content {
	padding:0;
	color:#ffffff;
}
#contact label {
	text-transform:uppercase;
	font-weight:300;
}
#contact input,#contact select,#contact textarea {
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	width:100%;
	border:0px;
	color:#333;
}
#contact input,#contact select {
	border:0px;
	height:40px;
	margin-bottom:0px;
}
#contact input#submit {
	width:auto;
	margin-top:20px;
	background-color:#333;
	color:#fff;
	padding:0px 20px;
	text-transform:uppercase;
	font-weight:300;
}
#contact textarea {
	height:200px;
}
.required {
	color:#e9266d
}

#success,#error {
	display:none
}
#success span,#erro span {
	display:block;
	position:absolute;
	top:0;
	width:100%
}
#success span p,#error span p {
	margin-top:6em
}
#success span p {
	color:#9bd32d;
}
#error span p {
	color:#c0392b;
}
.error {
	text-transform: none;
	font-style: italic;
	display: inline-block;
}
.footer {
	padding:70px 0 60px 0;
}
.footer ul.social-icons li {
	width:20px;
	height:20px;
	position:relative;
	background:#fff;
	border:2px solid #ccc;
	border-radius:50%;
}
.footer ul.social-icons li a {
	color:#666;
}
@media(min-width:767px) {
	#portfolio .portfolio-item {
		margin:0 0 30px;
	}
}
@media (min-width:768px) {
	.navbar-fixed-top {
		border-width:0;
	}
	.navbar-inverse {
		background-color:rgba(255,255,255,0.95);
		box-shadow:0px 4px 15px rgba(0,0,0,0.07);
	}
	.navbar-inverse .navbar-nav>li>a {
		color:#444;
		margin-left:1px;
		margin-right:1px;
	}
	.navbar-nav>li>a:hover {
		color:#ffd600;
	}
	.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
		background-color:#ffd600;
	}
	.navbar-nav li a.active,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
		background-color:#ffd600;
		color:#fff;
	}
	ul.nav {
		font-family:'BebasNeueRegular';
		font-size:19px;
	}
	.navbar-nav>li>a {
		line-height:30px;
	}
	.navbar-brand {
		font-family:Pacifico;
		font-size:30px;
		color:#444;
		text-transform:none;
	}
	a.navbar-brand:hover {
		color:#555;
	}
	.navbar-inverse .navbar-brand,.navbar-inverse .navbar-brand:hover {
		color: #444;
	}
}

@media (max-width: 992px) {
	.navbar-inverse .navbar-nav>li>a {font-size:15px;}
	.boxservice {width:100%;}
	.whitebox {margin-bottom:30px;}
}

.navbar-brand {
    padding: 5px 15px;
}